<!-- app/views/layouts/_footer.html.erb -->
<footer class="bg-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </div>
    </div>
  </div>
</footer>
